portfolio/.next
/portfolio/node_modules
portfolio/yarn.lock
portfolio/.env
portfolio/.env.local
portfolio/.env.development.local
portfolio/.env.test.local
portfolio/.env.production.local
.DS_Store
portfolio/npm-debug.log*
portfolio/yarn-debug.log*
portfolio/yarn-error.log*
portfolio/pnpm-debug.log*
.vscode/
.idea/
coverage/
dist/
build/
*.log
*.tsbuildinfo
github-user-contribution.svg